.navbar-part{
    border-bottom: 1px solid rgb(205, 201, 201);
}
.logo{
    color: #40ba9b;
    font-size: 1.8rem;
    text-decoration: none;
    font-family:'Montserrat', "sans-serif";
}
.logo:hover{
    color: #40ba9b;
}

.nav-left a{
    color: #40ba9b;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    padding-bottom: 3px;
    
}
.nav-left .login{
    
    color: black;
}
.nav-left .login:hover{
    border-bottom: 2px solid black;
    
}

.nav-left .join-for-free:hover{
    border-bottom: 2px solid #40ba9b;
    color: #40ba9b;
}
.banner-part{
    background-color: #ebefee;
    height: 650px;
}
.banner-left{
    margin-top: 40px !important;
}
.banner-left img{
width: 600px;
height: 550px;
}
.banner-right p{
    font-size: 38px;
    line-height: 46px;
    max-width: 380px;
    font-weight: 700;
}
.banner-right .join-button button{
   background-color: #40ba9b; 
   padding: 10px 110px;
   font-size: 26px;
   font-family: sans-serif;
   color: white;
   font-weight: 700;
   border-radius: 3px;
   }
.banner-right .join-button button:hover{
   background-color: #35ac8e; 
   }
.join-button button{
    background-color: #40ba9b; 
    border: none;
}
.join-button button:hover{
    background-color: #35ac8e; 
}

/* body section */
.discover-part{
    margin-top: 75px !important;
}
.discover-right img{
width: 450px;
}
.discover h1{
    font-weight: 700;
    font-size: 3rem;
}
.discover p{
    font-size: 21px;
}
.text-filed {
    padding-left: 45px;
    width: 90%;
    height: 60px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
  }
  .text-filed[type=text]:focus {
    outline: none;
    border: 1px solid rgb(7, 239, 243);
  }
  .discover-left{
    position: relative;
  }
  .search-icon img{
   width: 20px;
  }
  .search-icon{
    position: absolute;
    top: 18px;
    left: 10px;
    cursor: pointer;
  }
  
/* community-part */
.community-part{
    margin-top: 75px !important;
}
.community-right h1{
    font-weight: 700;
    font-size: 3rem;
}
.community-right p{
    font-size: 21px;
}

.community-left h5{
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1.5px;
    color: rgb(100, 100, 100);
}
.community-left button{
 border: 1px solid #40ba9b;
 border-radius: 30px;
 font-size: 1.3rem;
 padding: 6px 30px;
 color: #40ba9b;

}
.community-left button:hover{
 border: 1px solid #40ba9b;
 border-radius: 30px;
 font-size: 1.3rem;
 padding: 6px 30px;
 color: #40ba9b;
 background-color: #d8f3ec;

}
.community-left button:focus{
 color: white;
 background-color: #05c390;

}
/* Measure part */
.measure-right img{
    width: 400px;
}
.measure-part{
    margin-top: 80px !important;
}
.measure h1{
    font-weight: 700;
    font-size: 3rem;
}
.measure p{
    font-size: 21px;
}
.give-line{
    margin-top: 80px;
}
.give-line2{
    margin-top: 40px;
}
/* advance Research Part */
.advance-research p{
    font-size: 40px;
    line-height: 25px;
    max-width: 550px;
    font-weight: 700;
    
}
.advance-research .join-button button{
   background-color: #40ba9b; 
   padding: 10px 110px;
   font-size: 26px;
   font-family: sans-serif;
   color: white;
   font-weight: 700;
   border-radius: 3px;
   }
.advance-research .join-button button:hover{
   background-color: #35ac8e; 
   }
.join-button2{
    margin-bottom: 100px;
   }
.pre-space::before {
    content: "''''";
    color: #fff;
    overflow: hidden;
  }
.pre-space2::before {
    content: "'''''''";
    color: #fff;
    overflow: hidden;
  }

  .footer{
    background-color: #ebefee;
    padding-top: 100px;
    padding-bottom:20px;
  }
  .footer-title{
    font-size: 1.5rem;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
  }
  .footer-part .footer-right-part, .footer-left-part{
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .footer-image img{
     width: 200px;
     height: 187px;
  }

  .footer-details button{
    border: 1px solid #40ba9b;
    border-radius: 5px;
    font-size: 1rem;
    padding: 6px 30px;
    color: #40ba9b;
   }
   .footer-details button:hover{
    border: 1px solid #40ba9b;
    border-radius: 5px;
    font-size: 1rem;
    padding: 6px 30px;
    color: #40ba9b;
    background-color: #d8f3ec;
   }

   .footer-bottom li{
    list-style: none;
    margin-right:10px ;
   }
   .footer-bottom li a{
    text-decoration: none;
    color: gray;
    font-size: 0.9rem;
   }
   .footer-bottom li a:hover{
    text-decoration: underline;
   }
   .copy-right{
    color: gray;
    font-size: 0.9rem;
    margin-left: 90px;
   }
